/* Paletas de colores:
verde vibrante: 4FEF30
gris oscuro header: 1C1C1C
gris claro body: 2E2E2E
blanco texto: E0E0E0


fixed backgrounds:
header: 151515
body: 1B1B1B

*/

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    /* background-color: #2E2E2E; */
    background-color: #1B1B1B;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 10%;
    /* background-color: #1C1C1C; */
    background-color: #151515;
}

li,a,button {
    font-weight: 500;
    font-size: 16px;
    color: #E0E0E0;
    text-decoration: none;
}

#logo {
    cursor: pointer;
    font-size: small;
    /* color: ; */ 
    color: #4FEF30;
}

#social {
    border: none
}

#social lu {
    list-style: none;
}

#social li{
    display: inline-block;
    padding: 0 20px;
}

#social li a {
    transition: all 0.3s ease 0s;
}

#social li a:hover {
    color: #9ac61e;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: #2C2C2C;
    border:solid #ffd60a;
    color: #FFFFFF;
    border: solid #A7F220;
}

button:hover {
    background-color: #1C1C1C;
}




/* Main Body  */

#home {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 10%;
    border-bottom: solid #A7F220;
}

/* Home Section */

.description {
    margin-left: 6%;
    max-width: 600px;
}

.description h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.description h2 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #4FEF30;
}

.description p {
    position: relative;
    font-size: 18px;
    margin: 20px 0 40px;
}

.home_img {
    scale: 35%;
    margin-left: 0%;
    border: solid white;
}

/* Skills Section */

#skills {
    height: 90vh;
    display: flex;
    grid-template-rows: repeat(1);
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 10%;
    border-bottom: solid #A7F220;   
}






/* Projects Section */

#projects {
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;

    padding: 0 2.5%;
    border-bottom: solid #A7F220;
    color: white;
}

.project_box {
    width: 350px;
    height: 280px;
    text-align: center;
    border: solid whitesmoke;
}



footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 45px;
    margin: auto;
    background-color: #151515;
    color: #E0E0E0;
}

footer a {
    margin-bottom: 15px;
}

footer h6 {
    font-size: 20px;
}